<h2><%= link_to "New User", new_user_path %></h2>
<h1>Users List</h1>

<%= form_with model: @user, data: {turbo:false} do |f| %>
 <h3>
  <ol>
  <% @users.each do |user| %>
      <li>
        
        <%= user.name.titleize %>.<br>
         View the page of user: <%= link_to "Show page", user_path(user)%><br><br>
        
      </li>
  <% end %>
  </ol>
  </h3>
<% end %>

